group0:
    search_v0:
    - "exact"
    - "approx_t"
    - "approx_s"
    - "approx_st"
    pretrained_path:
    - "34ceb5ea-7d31-472a-a393-abd6a2414bfc-epoch=29.ckpt"
    - "cd781faa-836c-49d1-8c35-5b34de0014be-epoch=29.ckpt"
    - "ecf92db6-5041-4663-b821-05f266255ff9-epoch=29.ckpt"
    - "99b0b262-bc56-43e8-ab4c-573c5d7e28a4-epoch=29.ckpt"
group1:
    dname:
    # - set8
    - davis
    dset:
    # - te
    - tr
    vid_name:
    -
      - bear
cfg:
    arch_name: "nlnet"
    python_module: "nlnet"
    root: "/home/gauenk/Documents/packages/nlnet"
    pretrained_load: True
    pretrained_root: "/home/gauenk/Documents/packages/nlnet"
    pretrained_type: "lit"
    search_menu_name: "first"
    search_v1: "refine"
    block_version: "v2"
    bw: False
    sigma: 30
    seed: 123
    isize: "128_128"
    nframes: 5
    frame_start: 0
    frame_end: 4
    ws: 21
    wt: 3
    k: 25
    wr: 1
    kr: -1
    wr_t: 1
    kr_t: 0.1
    wr_s: 1
    kr_s: -1
    scale: 2
    flow: False
    flow_method: "svnlb"
    spatial_chunk_size: 0
    spatial_chunk_overlap: 0.
    temporal_chunk_size: 5
    temporal_chunk_overlap: 0.
    embed_dim: 9
    nheads:
    - 1
    - 2
    - 4
    depth:
    - 3
    - 3
    - 3 
